@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {

    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1, h2  {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h3 {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

p {
    font-size: 1.5em;
    text-align: left;
    margin-right: 2em;
    margin-left: 3em;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

a {
    color: #000;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2:hover {
    text-decoration: underline;
}

#freeWill{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


#fancy {
font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#elit {
    margin-top: 2em;
}

.container {
    width: 80%
    margin: 0 auto;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  vertical-align: right;
  position: relative;
}

button:hover {
    background-color: #3e8e41;
}


header {
    float: right;
}

header::after {
    content:'';
    display: table;
    clear: both;
}

nav ul {
    float: center;
    margin: 0.5em;
    padding: 0;
    list-style: none;
    margin-bottom: .75em;
}

nav li {
    display: inline-block;
    text-align: center;
    align-self: center;
    margin-left: 70px;
    padding-top: 25px;
    margin-bottom: .75em;

}

nav li a {
    text-align: center;
}

nav a {
    color: #000;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #000;
}

img {
    width:30%;
    height:30%;
    display: inline;
    padding-left: 2em;
    margin-right: 4em;
    margin-left: 1em;
    margin-top: 3em;
}

#intro {
    font-size: 2em;
    text-align: center;
}

#about {
    text-align: center;
}

#title {
    font-size: 2em;
    text-align: center;
}

#content {
    font-size: 0.5em;
}

#dropdown {
    float: right;
}

#banner {
  background-color: #000;
  color: white;
  padding: 16px;
  font-size: 24px;
  font-family: 'Courier';
  color: #18E418;
  border: none;
  vertical-align: left;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  vertical-align: right;
  position: relative;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  vertical-align: right;
  text-align: left;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}